footer{
    background-color: #ffd787;
/*    padding-bottom: 30px;*/
    position: relative;
    bottom: 0;
}
footer a:not(.logo){
/*    padding: 30px 30px;*/
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: #651D32;
    cursor: pointer;
}
img.logo {
    max-height: 70px;
    width: auto;
    margin: 20px;
}
.footerElement {
    display: inline;
    margin: 20px;
}
footer span{
    font-weight: 600;
    font-size: 1.25rem;
}
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
a.backToTop{
    display: block;
    text-align: center;
}
@media screen and (max-width: 600px){
    .footerElement{
        display: block;
    }
}
/* Divide the footer into 3 evenly-spaced blocks. Place each footerElement into the center of its block*/
/*
.footerElement {
    display: inline-block;
    width: 33.33%;
    text-align: center;
}*/
