footer{
    background-color: #ffd787;
    padding-bottom: 30px;
    position: relative;
    bottom: 0;
}
div.firstLine{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img.homeFooter{
    max-height: 70px;
}
div.secondLine{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer div a:not(.homeLogo){
    padding: 30px 30px;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
footer div a:hover{
    color: #651D32;
    cursor: pointer;
}
h3.homeFooter-CRJH{
    position:absolute;
    left: 0;
    padding: 10px 30px;
    font-weight: 550;
}
h3.homeFooter-date{
    position:absolute;
    right: 0;
    padding: 10px 30px;
    font-weight: 550;
}
/*HOME*/
section.first-section{
    color: black;
    background-color: white;
    text-align: center;
    padding: 20px;
}
.home{
    margin: 20px;
}
h1.home{
    font-size: 3rem;
    font-weight: 700;
}
h3.home{
    font-size: 2rem;
    font-weight: 500;
}
p.home{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2;
}
.arrow {
    width: 10%;
    height: auto;
}
iframe{
    margin: 10px;
    max-width: 75vw;
    border: none;
}
