/* Color palette: https://tinyurl.com/crjhorchestra-colors */

/* GENERAL STYLING */
html, body {
    height: 100vh;
    width: 100vw;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', sans-serif;
}
button{
    font-family: 'Gill Sans', sans-serif;
}
img{
    max-width: 90vw;
}
/*HOME*/
section.first-section{
    color: black;
    background-color: white;
    text-align: center;
    padding: 20px;
}
.first-section{
    margin: 20px;
}
h1.first-section{
    font-size: 3rem;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
@media screen and (max-width: 400px) {
    section.first-section{
        padding: 20px 0px;
    }
}
h3.first-section{
    font-size: 2rem;
    font-weight: 500;
}
p.first-section, p.paragraph, label.paragraph{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2;
    text-align: center;
}


/* HOME-DIRECTORS */
section.second-section{
    color: white;
    background-color: #651d32;
}
img.second-section{
    max-height: 350px;
    width: auto;
}
container.second-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.second-section{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.second-section{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #ffd787;
    background-color: #ffd787;
    color: #651D32;
}
p.second-section{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.second-section, p.second-section, button.second-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.second-section:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #ffd687;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}
button.second-section:not(:hover){
    box-shadow: none;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}
iframe{
    margin: 10px;
    max-width: 75vw;
    border: none;
}

/* HOME-INSTRUMENTS */
section.third-section{
    color: black;
    background-color: white;
}
img.third-section{
    max-height: 350px;
    width: auto;
}
container.third-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.third-section{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.third-section{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #FCB425;
    background-color: #fcb425;
    color: #651D32;
}
p.third-section{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.third-section, p.third-section, button.third-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.third-section:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #FCB425;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}
button.third-section:not(:hover){
    box-shadow: none;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}

/* HOME-ORCHESTRAS */
section.fourth-section{
    color: black;
    background-color: #FCB425;
}
img.fourth-section{
    max-height: 250px;
    width: auto;
}
container.fourth-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.fourth-section{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.fourth-section{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #651D32;
    background-color: #651D32;
    color: #ffd687;
}
p.fourth-section{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.fourth-section, p.fourth-section, button.fourth-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.fourth-section:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #651D32;
    background-color: #E88989;
    border-color: #E88989;
    color: white;
    transition: all 0.5s ease;
}
button.fourth-section:not(:hover){
    box-shadow: none;
    background-color: #651D32;
    border-color: #651D32;
    transition: all 0.5s ease;
}

/* HOME-AWARDS */
section.fifth-section{
    color: black;
    background-color: white;
}
img.fifth-section{
    max-height: 350px;
    width: auto;
}
container.fifth-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.fifth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.fifth-section{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.fifth-section{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #e88989;
    background-color: #e88989;
    color: #651D32;
}
p.fifth-section{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.fifth-section, p.fifth-section, button.fifth-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.fifth-section:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #e88989;
    background-color: #651D32;
    border-color: #651D32;
    color: white;
    transition: all 0.5s ease;
}
button.fifth-section:not(:hover){
    box-shadow: none;
    background-color: #e88989;
    border-color: #e88989;
    transition: all 0.5s ease;
}

/* HOME-ANNOUNCEMENTS */
section.sixth-section{
    color: white;
    background-color: #e88989;
}
img.sixth-section{
    max-height: 350px;
    width: auto;
}
container.sixth-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.sixth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.sixth-section{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.sixth-section{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #ffd787;
    background-color: #ffd787;
    color: #651D32;
}
p.sixth-section{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.sixth-section, p.sixth-section, button.sixth-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.sixth-section:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #ffd687;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}
button.sixth-section:not(:hover){
    box-shadow: none;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}

/* HOME-RESOURCES */
section.seventh-section{
    color: black;
    background-color: white;
}
img.seventh-section{
    max-height: 350px;
    width: auto;
}
container.seventh-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.seventh-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.seventh-section{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.seventh-section{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #FCB425;
    background-color: #fcb425;
    color: #651D32;
}
p.seventh-section{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.seventh-section, p.seventh-section, button.seventh-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.seventh-section:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #FCB425;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}
button.seventh-section:not(:hover){
    box-shadow: none;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}

/*DIRECTORS*/
img.directorPics{
    max-height: 350px;
    border-radius: 50%;
}
img.contactIcon{
    max-height: 50px;
    padding: 10px 20px;
}
div.contactInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
div.contactIcons{
    display: flex;
}
img.contactIcon:hover{
    cursor: pointer;
    border-bottom: 3px solid black;
    transition: all 0.5s ease;
}
img.contactIcon:not(:hover){
    border-bottom: 3px solid white;
    transition: all 0.5s ease;
}
@media screen and (max-width: 600px){
    img.contactIcon{
        padding: 10px 0px;
    }
}

/*INSTRUMENTS*/
p.instrumentInfo{
    max-width: 500px;
}
div.instrumentSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.second-section img.musicianPics{
    border-radius: 50%;
    display: block;
    border: 3px solid #FFD787;
    max-height: 150px;
    background-color: white;
}
div.third-section img.musicianPics{
    border-radius: 50%;
    display: block;
    border: 3px solid #FCB425;
    max-height: 150px;
    background-color: white;
}
div.fourth-section img.musicianPics{
    border-radius: 50%;
    display: block;
    border: 3px solid #651D32;
    max-height: 150px;
    background-color: white;
}
div.fifth-section img.musicianPics{
    border-radius: 50%;
    display: block;
    border: 3px solid #E88989;
    max-height: 150px;
    background-color: white;
}
div.musicianSection > *{
    display: block;
    margin: 10px;
}
div.musicianSection{
    display: flex;
    justify-content: center;
}
.soloSongs button{
    margin: 10px 40px;
    padding: 10px;
}
div.soloSongs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
p.quote{
    max-width: 500px;
}
.instrumentButtons button{
    margin: 20px;
}

/*ORCHESTRAS*/
.concerts button{
    display: block;
    width: 300px;
    margin: 20px 20px;
    padding: 10px;
}
div.concert{
    display: flex;
    flex-direction: column;
}
div.orchestraSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.orchestraSection > *{
    margin: 20px;
}

/*AWARDS*/
.awards p{
    padding: 0px 50px;
}
hr{
    width: 200px;
    margin: 20px auto;
}
.awards img{
    max-height: 300px;
    width: auto;
    margin: 10px auto;
    padding: 10px;
    display: block;
}
section.awards{
    text-align: center;
}
.awards h2{
    padding: 20px 0px 0px 0px;
    margin: 0px;
}
.awards h3{
    padding: 0px;
    margin: 0px;
}
.second-section hr.awards{
    border-color: white;
}
.third-section hr.awards{
    border-color: black;
}
.fourth-section hr.awards{
    border-color: black;
}

/*RESOURCES*/
div.resourceButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.resources p{
    margin: 0px 50px;
}
img.pics{
    max-height: 150px;
    max-width: 200px;
    margin: auto;
    display: block;
    padding-top: 20px;
}
.resources a:not(:hover){
    color: #651D32;
    transition: all 0.5s ease;
}
.resources a:hover{
    color: #FCB425;
    transition: all 0.5s ease;
}
#survey{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.survey-recording{
    display: flex;
    flex-direction: row;
    align-items: center;
}
