/* Color palette: https://tinyurl.com/crjhorchestra-colors */

/* GENERAL STYLING */
html, body {
    height: 100vh;
    width: 100vw;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', sans-serif;
}
button{
    font-family: 'Gill Sans', sans-serif;
}
img{
    max-width: 90vw;
}

/*HOMENAV*/
img.homeNav{
    margin-left: 20px;
}
nav.homeNav{
    display: flex;
    flex-direction: row;
    background-color: #ffd787;
    align-items: center;
    justify-content: center;
    width: 100%;
}
a.navElement:not(.homeLogo){
    padding: 30px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
a.navElement:hover{
    color: white;
    background-color: #E88989;
    cursor: pointer;
    transition: all 0.5s ease;
}
a.navElement:not(hover){
    color: black;
    background-color: #ffd787;
    cursor: default;
    transition: all 0.5s ease;
}
a.homeLogo:hover{
    background-color: #FFD787;
}
img.homeNav{
    max-height: 70px;
}
.homeNav .icon{
    display: none;
}
a.icon{
    color: black;
}
@media screen and (max-width: 1000px) {
    .homeNav a:not(:first-child) {display: none;}
    .homeNav a.icon {
        float: right;
        position: absolute;
        right: 0;
        margin: 20px;
        display: block;
    }
}
@media screen and (max-width: 1000px) {
    .homeNav.responsive {
        position: relative;
    }
    .homeNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .homeNav.responsive a {
        float: none;
        display: block;
    }
    .homeNav.responsive a:not(:first-child, :last-child){
        width: 100vw;
        text-align: center;
        background-color: #FCB425;
        padding: 15px;
        margin-bottom: 5px;
    }
    nav.responsive{
        display: flex;
        flex-direction: column;
    }
    .responsive a.navElement:hover{
        color: white;
        background-color: #E88989;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .responsive a.navElement:not(hover){
        color: black;
        background-color: #ffd787;
        cursor: default;
        transition: all 0.5s ease;
    }
    .responsive a.homeLogo:hover{
        background-color: #FFD787;
    }
}

/*HOMEFOOTER*/
footer{
    background-color: #ffd787;
    padding-bottom: 30px;
    position: relative;
    bottom: 0;
}
div.firstLine{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img.homeFooter{
    max-height: 70px;
}
div.secondLine{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer div a:not(.homeLogo){
    padding: 30px 30px;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
footer div a:hover{
    color: #651D32;
    cursor: pointer;
}
h3.homeFooter-CRJH{
    position:absolute;
    left: 0;
    padding: 10px 30px;
    font-weight: 550;
}
h3.homeFooter-date{
    position:absolute;
    right: 0;
    padding: 10px 30px;
    font-weight: 550;
}
/*HOME*/
section.first-section{
    color: black;
    background-color: white;
    text-align: center;
    padding: 20px;
}
.home{
    margin: 20px;
}
h1.home{
    font-size: 3rem;
    font-weight: 700;
}
h3.home{
    font-size: 2rem;
    font-weight: 500;
}
p.home{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2;
}
iframe{
    margin: 10px;
    max-width: 75vw;
    border: none;
}

/* HOME-DIRECTORS */
section.second-section{
    color: white;
    background-color: #651d32;
}
img.home-directors{
    max-height: 350px;
    width: auto;
}
container.home-directors{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.home-directors{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.home-directors{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.home-directors{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #ffd787;
    background-color: #ffd787;
    color: #651D32;
}
p.home-directors{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.home-directors, p.home-directors, button.home-directors{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.home-directors:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #ffd687;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}
button.home-directors:not(:hover){
    box-shadow: none;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}

/* HOME-INSTRUMENTS */
section.third-section{
    color: black;
    background-color: white;
}
img.home-instruments{
    max-height: 350px;
    width: auto;
}
container.home-instruments{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.home-instruments{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.home-instruments{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.home-instruments{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #FCB425;
    background-color: #fcb425;
    color: #651D32;
}
p.home-instruments{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.home-instruments, p.home-instruments, button.home-instruments{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.home-instruments:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #FCB425;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}
button.home-instruments:not(:hover){
    box-shadow: none;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}

/* HOME-ORCHESTRAS */
section.fourth-section{
    color: black;
    background-color: #FCB425;
}
img.home-orchestras{
    max-height: 250px;
    width: auto;
}
container.home-orchestras{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.home-orchestras{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.home-orchestras{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.home-orchestras{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #651D32;
    background-color: #651D32;
    color: #ffd687;
}
p.home-orchestras{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.home-orchestras, p.home-orchestras, button.home-orchestras{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.home-orchestras:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #651D32;
    background-color: #E88989;
    border-color: #E88989;
    color: white;
    transition: all 0.5s ease;
}
button.home-orchestras:not(:hover){
    box-shadow: none;
    background-color: #651D32;
    border-color: #651D32;
    transition: all 0.5s ease;
}

/* HOME-AWARDS */
section.fifth-section{
    color: black;
    background-color: white;
}
img.home-awards{
    max-height: 350px;
    width: auto;
}
container.home-awards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.home-awards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.home-awards{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.home-awards{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #e88989;
    background-color: #e88989;
    color: #651D32;
}
p.home-awards{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.home-awards, p.home-awards, button.home-awards{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.home-awards:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #e88989;
    background-color: #651D32;
    border-color: #651D32;
    color: white;
    transition: all 0.5s ease;
}
button.home-awards:not(:hover){
    box-shadow: none;
    background-color: #e88989;
    border-color: #e88989;
    transition: all 0.5s ease;
}

/* HOME-ANNOUNCEMENTS */
section.sixth-section{
    color: white;
    background-color: #e88989;
}
img.home-announcements{
    max-height: 350px;
    width: auto;
}
container.home-announcements{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.home-announcements{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.home-announcements{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.home-announcements{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #ffd787;
    background-color: #ffd787;
    color: #651D32;
}
p.home-announcements{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.home-announcements, p.home-announcements, button.home-announcements{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.home-announcements:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #ffd687;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}
button.home-announcements:not(:hover){
    box-shadow: none;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}

/* HOME-RESOURCES */
section.seventh-section{
    color: black;
    background-color: white;
}
img.home-resources{
    max-height: 350px;
    width: auto;
}
container.home-resources{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}
div.home-resources{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.home-resources{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
}
button.home-resources{
    width: 200px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid #FCB425;
    background-color: #fcb425;
    color: #651D32;
}
p.home-resources{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
img.home-resources, p.home-resources, button.home-resources{
    margin-top: 10px;
    margin-bottom: 20px;
}
button.home-resources:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px #FCB425;
    background-color: #ffd687;
    border-color: #ffd687;
    transition: all 0.5s ease;
}
button.home-resources:not(:hover){
    box-shadow: none;
    background-color: #FCB425;
    border-color: #FCB425;
    transition: all 0.5s ease;
}
.responsive {
    display: flex;
    flex-wrap: wrap;
}
