html, body {
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
}
img.director{
  width: 200px;
  border-radius: 50%;
  margin: 0 10px;
}
img.instrument-picture {
  width: 40%;
  height: auto;
  padding-left: 10px;
  padding-bottom: 20px;
  margin: 20px;
  float: right;
}
.instrument-information-container {
  float: left;
  margin: 20px;
  text-align: center;
}
h1{
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
}
container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 50px;
}
#directors-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
p{
  margin: 20px;
  width: 75%;
  align-self: center;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
}
button{
  margin: 10px;
  width: 50%;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 40px;
  padding: 7px;
  font-size: 1.75em;
  background-color: #ffd687;
  border: 1px solid #ffd687;
  color: #651d32;
}
button:hover{
  cursor: pointer;
  box-shadow: 10px 10px 15px #ffd687;
  background-color: #FCB425;
  border-color: #FCB425;
  transition: all 1s ease;
}
button:not(:hover){
  box-shadow: none;
  background-color: #ffd687;
  border-color: #ffd687;
  transition: all 1s ease;
}
section.meet-director-container{
  background-color: #651d32;
  padding: 40px 60px;
}
section.instrument-container {
  background-color: #ffffff;
  padding: 40px 60px;
}
h2{
  text-align: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}
h2.title{
  text-align: center;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px 2px black;
}

#home-title{
  background-image: url("orchestra-pic-thin.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}
